.parent-container
{
    width: 100%;
    height: 100svh;
    background-color: rebeccapurple;
}
@media screen and   (max-width:900px)
{
    .parent-container
    {
        background-color: crimson;
    }
}
/*
<= 480px = xs
481px to 768px = s
769px to 1024px = m
1025px to 1200px = l
1201px >= xl
*/