
.border1
{
    border: 2px solid green ; width: 50%;border-radius: 20px;
}
.border2
{
    border: 2px dotted green ; width: 50%;border-radius: 20px;
}
.border3
{
    border: 2px dashed green ; width: 50%;border-radius: 20px;
}
.border4
{
    border: 2px double green ; width: 50%;
}
.border5
{
    border: 2px groove green ; width: 50%;
}
.border6
{
    border: 2px ridge green ; width: 50%;
}
.border7
{
    border: 2px inset green ; width: 50%;
}
.border8
{
    border: 2px outset green ; width: 50%;border-radius: 20px;
}
.border9
{
    border: 2px none green ; width: 50%;
}
.border10
{
    border: 2px hidden  green ; width: 50%;
}


