.parent
{
    height: 100svh;
    width: 100%;
}
.nav
{
    height: 760px;
    width: 5%;
    background-color:rgb(14, 75, 189);
    margin-left: 4%;
    float: left;
}
.dot
{
    position: absolute;
    top: 500px;
    left:200px;
    
}
.dot2
{
    position: absolute;
    top:130px;
    left: 200px;
}
.nav-icon
{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid rgb(214, 212, 212) ;
    font-size: 25px;
}
.icon
{
    font-size: 30px;
    color: rgb(214, 212, 212);
}

.nav-icon:hover
{
    background-color: cornflowerblue;
    color: white;
}
.middle
{
    height: 100%;
    width: 60%;
    float: left;
}
.middle-top
{
    height: 10%;
    width: 49%;
    border: 5px solid rgb(219, 217, 217);
    background-color: w;
}
.search
{
    height: 30px;
    width: 80%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 15px;
}
.search p
{
    margin-top: 2%;
    margin-left: 5%;
}
.search-icon
{
    font-size: 15px;
    margin-left: 10%;
}
.chats-page
{ 
    height: 680px;
    width: 49%;
   
    background-color: whitesmoke;
}
.chat
{
    height: 71px;
    width: 100%;
    border-bottom: 3px solid rgb(219, 217, 217);
}
img
{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
 
}
.chat-text
{
    float: left;
    width: 1px;
    margin-left: 5%;
    margin-top: -2%;
}
.chat p
{
  color: black;
    margin-left: 5%;
}
.time
{
    height: 20px;
    width: 43px;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    float: right;
    margin-top: -12%;
    margin-right: 5%;
    color: gray;
}
.right
{
    height: 750px;
    width: 55%;
    border: 5px solid rgb(219, 217, 217);
    margin-left: 38%;
}
.right-top
{
    height: 10%;
    width: 100%;
    border-bottom: 5px solid rgb(219, 217, 217);
}
.right-icon
{
    margin-left: -50%;
    float: left;
}
.right-top p
{
    font-size: larger;
}
.right-mid img
{
    margin-left: -50%;
}
.message1, .message2, .message3, .message4 

{
    height: 46px;
    width: 150px;
    float: left;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 6%;
    margin-left: -42%;
}
.message2
{
    margin-top: 13%;
    width: auto;
}
.message5 ,.message6{
  height: 46px;
  width: 150px;
  float: left;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: left;
}
.message5
{
  position: relative;
  right: 340px;
  top:30px;
}
.message6
{
  position: relative;
  right: 490px;
  top:100px;
  width: 198px;
}
.imgz
{
  margin-top: 50px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.imgz2
{
  position: relative;
  right: 350px;
  top:80px;
}
.message3
{
    margin-top: 19%;
    margin-left: 20%;
    width: 180px;
    border: 1px solid cornflowerblue;
    background-color: rgb(154, 180, 227);
}
.message4
{
    width: 200px;
    margin-top: 2%;
    margin-left: 20%;
    width: auto;
    border: 1px solid cornflowerblue;
    background-color: rgb(154, 180, 227);
}
.right-bottom
{
    height: 11%;
    width: 99%;
    border: 5px solid rgb(219, 217, 217);
    margin-top: 70%;
}
.emoji
{
    font-size: 30px;
    margin-top: 2.5%;
    float: left;
    margin-left: -50%;
    color: grey;
}
.mess
{
    font-size: large;
    color: grey;
    float: left;
    margin:3% 0% 0% -45%;
}
.tele
{
    font-size: 30px;
    margin-top: 2.5%;
    float: right;
    margin-right: 5%;
    color: rgb(56, 118, 233);
}
