
    body
    {
        margin: 0;
    }
    .main
    {
        width: 100%;
        height: 80px;
        background-color:white;
        position:fixed;
        align-items: center;
        display: flex;
        
    }
    .sub1
    {
        width: 40%;
        float: left;
        height: 100%;
    
       
        
    }
  
    .sub2
    {
        width: 60%;
        height: 100%;
        float: right;
        align-items: center;
        display: flex;
        color: green;
       
    }
    a:hover
    {
        color: brown;
      
        
    }
    a{
        
        font-size:  x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        padding: 30px;
        margin-top: 10px;
        color: white;
       
    }

    .bg1
    {
        width: 100%;
        height: 700px;
        background-image: url('../images/event2.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text
    {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top:6%;
        margin-left: 15%;
        font-size: large;  
        word-spacing: 14px;
        text-align: justify;
        height: 200px;
        width: 70%;
    }
    .middle {
        width: 100%;
        text-align: center;
        
        height: 600px;
        font-size: larger;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/owlcode.gif);
        margin-top: 90px;
    }
    
    .one,
    .two,
    .three {
        width: 25%;
        padding: 27px;
        float: left;
        margin-top: 130px;
        color: white;
        border: solid whitesmoke;
        border-radius: 25%;
        margin-left: 20px;
    }
    .one{
        margin-left: 80px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    
    
    .one i,
    .two i,
    .three i {
        font-size: 40px;
        color: green;
        margin-bottom: 20px;
    }

  .one:hover ,   .two:hover ,   .three:hover {


      background-color: whitesmoke;
      color:black !important;
      opacity: 0.7;
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    